

/*____________________________________________
map and plate
--------------------------------------------*/
div#infographic {
}
div#infographic div.ig_plate {
	position: absolute;
}
div#infographic div img{
	width: 100%;
	height: 100%;
}

#dashboard {
	width: 99%;
	padding: 5px 0;
}


/*____________________________________________
float - plate_gis nad stats
--------------------------------------------*/

/*setup*/
#float_plate {
	/*position: absolute;*/
	width: 100%;
	height: 100%;
}
#plate_vector_map,
#plate_overall_progress,
#plate_legend,
#plate_issue,
#pl_depot,
#plate_label,
#pl_phase,
#pl_station,
#pl_mspr,
#pl_package {
	position: absolute;
	width: 100%;
	height: 100%;
}

/*z index*/
#plate_vector_map {
	z-index: 100;
}
#plate_overall_progress {
	z-index: 2000;
}
#plate_legend {
	z-index: 2100;
}
#plate_issue {
	z-index: 2200;
}
#pl_depot {
	z-index: 1500;
}
#pl_station {
	z-index: 1400;
}
#pl_mspr {
	z-index: 1300;
}
#pl_package {
	z-index: 2200;
}
#pl_phase {
	z-index: 1100;
}

/*	plate_vector_map
*/
#plate_vector_map {
	position: absolute;
}


/*	pop_label
*/
#pop_label span {
	/*display: none;*/
	position: absolute;
	font-size: 1.1vw;
	color: #000;
}
#pop_label span.set1 {
	top: 1.0%;
	left: 71.5%;
	color: #fff;
	font-size: 1.3vw;
}
#pop_label span.set1 {top: 1.2%; left: 62.5%;}
#pop_label span.set2 {top: 6.2%; left: 63.0%;}
#pop_label span.set3 {top: 6.2%; left: 72.0%;}
#pop_label span.set4 {top: 6.2%; left: 81.5%;}
#pop_label span.set5 {top: 6.2%; left: 90.6%;}

/*	pop_value
*/
#pop_value span {
	/*display: none;*/
	position: absolute;
	font-size: 3.3vw;
	color: #fff;
	text-shadow:
	-1px -1px 0 rgba(0,0,0,1),  
	1px -1px 0 rgba(0,0,0,1),
	-1px 1px 0 rgba(0,0,0,1),
	1px 1px 0 rgba(0,0,0,1);
}
#pop_value span.set1 {top: 11.0%; left: 61.9%;}
#pop_value span.set2 {top: 11.0%; left: 71.5%;}
#pop_value span.set3 {top: 11.0%; left: 81.0%;}
#pop_value span.set4 {top: 12.0%; left: 90.4%;}

#pop_value span.set4 i {
	font-size: 3.3vw;
	text-align: center;
	color: #0f5;
}
#pop_value span.set4 {
	font-size: 1.1vw;
	text-align: center;
	color: #0f5;
}


/*	pl_label_header
*/
#pl_label_header span {
	/*display: none;*/
	position: absolute;
	font-size: 1.3vw;
	color: #fff;
}
#pl_label_header span.set1 {top: 44.5%; left: 85.3%;}

/*	pl_label_content
*/
#pl_label_content span {
	/*display: none;*/
	position: absolute;
	font-size: .7vw;
	color: #fff;
}
#pl_label_content span.set1 {top: 49.2%; left: 93.0%;}
#pl_label_content span.set2 {top: 51.9%; left: 93.0%;}
#pl_label_content span.set3 {top: 54.9%; left: 93.0%;}
#pl_label_content span.set4 {top: 57.8%; left: 93.0%;}
#pl_label_content span.set5 {top: 63.2%; left: 93.0%;}
#pl_label_content span.set6 {top: 65.5%; left: 93.0%;}
#pl_label_content span.set7 {top: 67.9%; left: 93.0%;}

/*plate_issue*/
/*	pi_title
*/
#pi_title span {
	/*display: none;*/
	position: absolute;
	font-size: 1.3vw;
	color: #fff;
	text-shadow:
	-1px -1px 0 rgba(255,0,70,.25),  
	1px -1px 0 rgba(255,0,70,.25),
	-1px 1px 0 rgba(255,0,70,.25),
	1px 1px 0 rgba(255,0,70,.25);
}
#pi_title span.set1 {top: 6.7%; left: 2.2%;}
#pi_title span.set2 {top: 6.0%; left: 3.8%;}


/*	pi_subtitle
*/
#pi_subtitle span {
	/*display: none;*/
	position: absolute;
	font-size: .8vw;
	color: #fff;
	text-shadow:
	-1px -1px 0 rgba(255,0,70,.25),  
	1px -1px 0 rgba(255,0,70,.25),
	-1px 1px 0 rgba(255,0,70,.25),
	1px 1px 0 rgba(255,0,70,.25);
}
#pi_subtitle span.set1 {top: 9.0%; left: 3.8%;}


/*	pl_phase
*/
#pl_phase span {
	/*display: none;*/
	position: absolute;
	font-size: 2em;
	color: rgba(255,255,255,.5);
}
#pl_phase span.set1 {top: 7%; left: 11.2%;}
#pl_phase span.set2 {top: 25%; left: 74%;}

/*	pl_package
*/
#pl_package span {
	/*display: none;*/
	position: absolute;
	font-size: 1.3em;
	font-weight: bold;
	padding: 2px 5px;
	border-radius: 3px;
	background: rgba(0,0,0,.15);
	color: #fff;
}
#pl_package span.set1 {top: 69.0%; left: 19.5%;}
#pl_package span.set2 {top: 54.0%; left: 22.0%;}
#pl_package span.set3 {top: 44.0%; left: 26.0%;}
#pl_package span.set4 {top: 30.0%; left: 37.0%;}
#pl_package span.set5 {top: 50.0%; left: 49.0%;}
#pl_package span.set6 {top: 50.0%; left: 58.0%;}
#pl_package span.set7 {top: 54.5%; left: 64.0%;}
#pl_package span.set8 {top: 61.5%; left: 64.0%;}
#pl_package span.set9 {top: 68.0%; left: 64.0%;}
#pl_package span.set10 {top: 94.0%; left: 77.0%;}
#pl_package span.set11 {top: 94.0%; left: 91.0%;}


/*	pl_mspr
*/
#pl_mspr span {
	/*display: none;*/
	position: absolute;
	font-size: .7em;
	font-weight: bolder;
	border-radius: 3px;
	border: 2px solid #fff;
	padding: 0px 3px;
	background: #05f;
	color: #fff;
	text-shadow:
	-1px -1px 0 rgba(0,0,0,1),  
	1px -1px 0 rgba(0,0,0,1),
	-1px 1px 0 rgba(0,0,0,1),
	1px 1px 0 rgba(0,0,0,1);
}
#pl_mspr span.set1 {top: 73.0%; left: 11.5%;}
#pl_mspr span.set2 {top: 65.1%; left: 13.0%;}
#pl_mspr span.set3 {top: 58.0%; left: 16.7%;}
#pl_mspr span.set4 {top: 29.0%; left: 16.2%;}
#pl_mspr span.set5 {top: 26.1%; left: 21.5%;}
#pl_mspr span.set6 {top: 34.2%; left: 50.7%;}
#pl_mspr span.set7 {top: 33.5%; left: 54.2%;}
#pl_mspr span.set8 {top: 36.5%; left: 58.0%;}
#pl_mspr span.set9 {top: 39.3%; left: 60.5%;}
#pl_mspr span.set10 {top: 37.8%; left: 64.2%;}
#pl_mspr span.set11 {top: 44.5%; left: 68.0%;}
#pl_mspr span.set12 {top: 47.5%; left: 71.7%;}
#pl_mspr span.set13 {top: 70.0%; left: 76.0%;}
#pl_mspr span.set14 {top: 91.0%; left: 84.0%;}
#pl_mspr span.set15 {top: 83.0%; left: 91.5%;}

/*	pl_station
*/
#pl_station span {
	/*display: none;*/
	position: absolute;
	font-size: .8em;
	color: #99c;
	text-shadow:
	-1px -1px 0 rgba(0,0,0,.2),  
	1px -1px 0 rgba(0,0,0,.2),
	-1px 1px 0 rgba(0,0,0,.2),
	1px 1px 0 rgba(0,0,0,.2);
}
#pl_station span.set1 {top: 79.0%; left: 11.5%;}
#pl_station span.set2 {top: 74.7%; left: 14.0%;}
#pl_station span.set3 {top: 65.5%; left: 16.0%;}
#pl_station span.set4 {top: 57.8%; right: 84.7%;}
#pl_station span.set5 {top: 51.5%; left: 15.5%;}
#pl_station span.set6 {top: 43.5%; left: 14.7%;}
#pl_station span.set7 {top: 39.5%; left: 16.0%;}
#pl_station span.set8 {top: 35.5%; left: 17.3%;}
#pl_station span.set9 {top: 30.0%; left: 18.7%;}
#pl_station span.set10 {top: 24.5%; right: 82.0%;}
#pl_station span.set11 {top: 19.5%; right: 78.2%;}
#pl_station span.set12 {top: 28.0%; left: 24.5%;}
#pl_station span.set13 {top: 24.2%; left: 28.0%;}
#pl_station span.set14 {top: 18.7%; left: 30.0%;}
#pl_station span.set15 {top: 14.7%; right: 70.7%;}
#pl_station span.set16 {top: 11.2%; right: 68.5%;}
#pl_station span.set17 {top: 01.5%; right: 66.0%;}
#pl_station span.set18 {top: 01.5%; left: 36.3%;}
#pl_station span.set19 {top: 04.5%; left: 38.3%;}
#pl_station span.set20 {top: 07.5%; left: 40.3%;}
#pl_station span.set21 {top: 16.2%; left: 44.2%;}
#pl_station span.set22 {top: 25.3%; left: 45.7%;}
#pl_station span.set23 {top: 31.0%; left: 47.5%;}
#pl_station span.set24 {top: 37.2%; right: 49.5%;}
#pl_station span.set25 {top: 40.5%; right: 45.7%;}
#pl_station span.set26 {top: 30.5%; left: 59.7%;}
#pl_station span.set27 {top: 33.2%; left: 62.0%;}
#pl_station span.set28 {top: 44.2%; right: 35.7%;}
#pl_station span.set29 {top: 37.0%; left: 69.0%;}
#pl_station span.set30 {top: 40.0%; left: 71.0%;}
#pl_station span.set31 {top: 47.7%; left: 74.3%;}
#pl_station span.set32 {top: 59.7%; right: 26.7%;}
#pl_station span.set33 {top: 71.0%; right: 25.3%;}
#pl_station span.set34 {top: 79.5%; right: 24.7%;}
#pl_station span.set35 {top: 86.6%; right: 20.5%;}
#pl_station span.set36 {top: 80.7%; right: 15.7%;}
#pl_station span.set37 {top: 90.2%; left: 88.5%;}
#pl_station span.set38 {top: 87.5%; left: 91.0%;}

/*	pl_depot
*/
#pl_depot span {
	/*display: none;*/
	position: absolute;
	font-size: .8em;
	color: #99c;
	text-shadow:
	-1px -1px 0 rgba(0,0,0,.2),  
	1px -1px 0 rgba(0,0,0,.2),
	-1px 1px 0 rgba(0,0,0,.2),
	1px 1px 0 rgba(0,0,0,.2);
}
#pl_depot span.set1 {top: 63.0%; left: 77.0%;}





/*____________________________________________
track path
--------------------------------------------*/



/*track*/
.v_track {
	display: inline;
	fill-opacity:1;
	stroke-width:1;
	stroke-miterlimit:4;
	stroke-dasharray:none;
	stroke-opacity:1
}

/*station*/
.v_station {
	opacity:1;
	fill-opacity:1;
	stroke-width:2.5;
	stroke-miterlimit:4;
	stroke-dasharray:none;
	stroke-opacity:1
}

/*station*/
.v_depot {
	opacity:1;
	fill-opacity:1;
	stroke-width:2.5;
	stroke-miterlimit:4;
	stroke-dasharray:none;
	stroke-opacity:1
}



/*____________________________________________
float - system donut
--------------------------------------------*/



#plate_system {
	position: absolute;
	width: 100%;
	height: 100%
}

#donut_plate {
	position: absolute;
	bottom: 1%;
	left: 24.3%;
	width: 420px;
	/*height: 400px;*/
}
	#donut_plate > div#dp_db_donut_5 {
		margin-left: 50px;
	}

circle.svg_donut_system_circle {
	fill: none;
	stroke-width: 10;
	stroke-dasharray: 0 150;
}
svg.svg_donut_system {
	margin: 0 auto;
	background: none;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	border-radius: 50%;
	display: block;
}

div#donut_plate > div.dp_top {
	margin-left: 100px;
	width: 210px;
	height: 130px;
}
div#donut_plate > div.dp_bottom {
	display: inline-block;
	width: 100px;
	height: 90px;
}
	
.donut_title1_name {
	margin: 0 30px 3px 30px;
	display: block;
	text-align: center;
	font-size: .9em;
	background: rgba(255,255,255,.25);
}
.donut_title2_name {
	margin-bottom: 3px;
	display: block;
	text-align: center;
	font-size: .9em;
	background: rgba(255,255,255,.15);
}



