<!--Page Created By Sebin-->
<style>
    .it_cs_legend{
        margin-bottom: 25px;
    }
    .it_cs_legend ul li {
        padding-right: 30px;
        float:left;
        display: inline-block;
        color: white;
        font-weight: bold;
    }
    .overall_progress tbody tr td{
        text-align: center;
    }
</style>
<div class="header bg-dot30 excel-normal">
    <!--img src="/mpxd/assets/img/icons/line_chart-26.png" style="float: left;margin-right: 13px;"-->
	<% if (typeof(data.data[0].date) !== "undefined") { %>
		<h2><%=data.title%></h2> <h2 class="asof">(As of <%=data.data[0].date%>)</h2>
	<% } else {%>
		<h2><%=data.title%></h2>
	<% } %>
    <i class="header-icon fa fa-check-square-o"></i>
</div>
<div class="content" style="background: none;/*#1d2a34*/">
    <!--<div class="it_cs_legend"><ul><li><i class="fa fa-circle" style="color: #008000"></i> Completed</li><li><i class="fa fa-circle" style="color: #ffff00"></i> In Progress</li><li><i class="fa fa-circle" style="color: #ff0000"></i> Handed Over with Snig list</li></ul></div>-->
	<!--h2>Header h2</h2-->
    <!--Sebin-->
	<table class="table table-bordered table-condensed table-hover overall_progress" style="">
        <thead>
            <tr>
                <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Total Progress S-Curve</th>
                <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Variance</th>
                <th rowspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Trend</th>
                <th rowspan="2" class="color-beige" colspan="2" style="text-align: center; vertical-align: middle;">Status</th>
            </tr>
            <tr>
                <th style="text-align: center; color: #FFAF78;">Planned</th>
                <th style="text-align: center; color: #FFAF78;">Actual</th>
                <th style="text-align: center; color: #009e8c;">(%)</th>
                <th style="text-align: center; color: #009e8c;">Weeks</th>
            </tr>
        </thead>
        <tbody>
        <% if(typeof data.data[1].data['summary']=='undefined'){%>
            <tr>
                <td colspan="6" style="text-align: center; height: 120px; vertical-align: middle">No data to display</td>
            </tr>
        <%}else{%>
            <tr>
                <td><%=data.data[1].data['summary']['tp_plan']%></td>
                <td><%=data.data[1].data['summary']['tp_actual']%></td>
                <td><%=data.data[1].data['summary']['tp_variance_precent']%></td>
                <td><%=data.data[1].data['summary']['tp_variance_weeks']%></td>
                <% if ((data.data[1].data['summary']['tp_variance_precent']>=0) || (data.data[1].data['summary']['tp_variance_precent']>=0.00)) { %>
                <td><i class="fa fa-chevron-up"></i></td>
                <td><i class="fa fa-circle" style="color:#9edd2e"></i></td>
                <% }else if (data.data[1].data['summary']['tp_variance_precent']<0 || (data.data[1].data['summary']['tp_variance_precent']<0.00)){ %>
                <td><i class="fa fa-chevron-down"></i></td>
                <td><i class="fa fa-circle" style="color:#ff0000"></i></td>
                <% } %>
            </tr>
        <% } %>
        </tbody>
    </table>
    <% if(typeof data.data[1].data['summary']!='undefined'){%>
    <br>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Track Survey</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['ts_plan']%></td>
                    <td><%=data.data[1].data['summary']['ts_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Surface Preparation</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['sp_plan']%></td>
                    <td><%=data.data[1].data['summary']['sp_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Long Rail Distibution</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['lrd_plan']%></td>
                    <td><%=data.data[1].data['summary']['lrd_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Rail & Sleeper Assembly</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['rsa_plan']%></td>
                    <td><%=data.data[1].data['summary']['rsa_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Rebar & Form Settingy</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['rfs_plan']%></td>
                    <td><%=data.data[1].data['summary']['rfs_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Concreting</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['con_plan']%></td>
                    <td><%=data.data[1].data['summary']['con_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Derailment Wall</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['dw_plan']%></td>
                    <td><%=data.data[1].data['summary']['dw_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Welding/Destressing</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['wd_plan']%></td>
                    <td><%=data.data[1].data['summary']['wd_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Rail Alignment</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['ra_plan']%></td>
                    <td><%=data.data[1].data['summary']['ra_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">PR Bracket Installation</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['prbi_plan']%></td>
                    <td><%=data.data[1].data['summary']['prbi_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">PR Installation/Alignment</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['pria_plan']%></td>
                    <td><%=data.data[1].data['summary']['pria_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">PR Cover Installation</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['prci_plan']%></td>
                    <td><%=data.data[1].data['summary']['prci_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Emergency Walkway</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['ew_plan']%></td>
                    <td><%=data.data[1].data['summary']['ew_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Cable Through & Containment</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['ctc_plan']%></td>
                    <td><%=data.data[1].data['summary']['ctc_actual']%></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-condensed table-hover overall_progress">
                <thead>
                <tr style="background: rgba(0, 140, 158, 0.2);">
                    <th colspan="2" class="color-beige" style="text-align: center; vertical-align: middle;">Commissioning</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFAF78;">Planned</th>
                    <th style="text-align: center; color: #FFAF78;">Actual</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><%=data.data[1].data['summary']['comm_plan']%></td>
                    <td><%=data.data[1].data['summary']['comm_plan']%></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <% } %>
    <!--<div style="text-align: right; margin-top: 15px;"> <i class="fa fa-circle" style="color:#2acd4a"></i><span style="color: #efefef">&nbsp;Completed&nbsp;&nbsp;</span>-->
        <!--<i class="fa fa-circle" style="color:#efe24b"></i><span style="color: #efefef">&nbsp;In Progress&nbsp;&nbsp;</span>-->
        <!--<i class="fa fa-circle" style="color:#E83737"></i><span style="color: #efefef">&nbsp;Pending&nbsp;&nbsp;</span>-->
    <!--</div>-->
</div>