<div class="header bg-dot30 excel-kad-1">
    <!--img src="/mpxd/assets/img/icons/line_chart-26.png" style="float: left;margin-right: 13px;"-->
    <% if (typeof(data.data[0].date) !== "undefined") { %>
        <h2><%=data.title%></h2> <h2 class="asof">(As of <%=data.data[0].date%>)</h2>
    <% } else {%>
        <h2><%=data.title%></h2>
    <% } %>
    <i class="header-icon fa fa-calendar-o"></i>
</div>
<div class="content" style="background: none;/*#1d2a34*/">
    <table class="table-kad table table-bordered table-condensed table-hover">
        <tr class="asof" style="font-weight: bold">
            <td>KAD
            </td>
            <td>Contract
            </td>
            <td>Forecast
            </td>
            <td>Days Left
            </td>
            <td>Variance
            </td>
        </tr>
    </table>
    <br>
</div>