<div class="header bg-dot30 excel-page_info">
    <!--img src="assets/img/icons/line_chart-26.png" style="float: left;margin-right: 13px;"-->
    <h2><%=data.title%></h2>
    <i class="header-icon fa fa-archive"></i>
</div>
<div class="content" style="background: none;/*#1d2a34*/ " data-arrange="1">
    <table>
        <td>
            <h4 class="excel-d2" style="text-align: left; font-size: 160%; "><%=data.data.contractor%></h4>
        </td>
    </table>


    <%if(data.data.station){%>

    <div class="table-bordered">
        <div style="float: left">
        <h1 style="margin-top: 15px;"><p class="" style="color: #15A6E9; font-weight: bold">Station</p></h1>
        <table class="table" style="font-size: 160%; font-weight: 600;">
            <%_.each(data.data.station, function(row) {%>
            <tr class="excel-dx" style="border: none;">
                <td class="excel-d3" style="color: #009933; border: none; font-size: 16px; font: normal;"><%=row%></td>
            </tr>
            <%});%>
        </table>
		<div style="text-align:right; padding-top:10px;margin-right: -200px;"><a href="#" style="color: #9EDD2E;" >Pier Chart <i class="loadpage fa fa-link"></i></a></div>
        </div>
        <div  style="float:right;">
        <h1 style="margin-top: 15px;"><p class="" style="color: #15A6E9; font-weight: bold">MSPR</p></h1>
        <table class="table" style="font-size: 160%; font-weight: 600;">
			<%_.each(data.data.mspr, function(row) {%>
            <tr class="excel-dx" style="border: none;">
                <td class="excel-d3" style="color: #009933; border: none; font-size: 16px; font: normal;"><%=row%></td>
            </tr>
            <%});%>
        </table>
        </div>
        <!--<div style="text-align:right; padding-top:10px;"><a href="javascript:void(0);" style="color: #9EDD2E;" onClick="loadPage('<%=data.data.piers_url%>')">Pier Chart <i class="loadpage fa fa-link"></i></a></div>-->
        
    </div>
    <%}%>

    <%if(data.data.depot){%>

    <div class="table-bordered">

        <div style="float: left">
            <h1 style="margin-top: 15px;"><p class="" style="color: #15A6E9">Depot</p></h1>
            <table class="table" style="font-size: 160%; font-weight: 600;">
                <!--tr><th>X</th><th>Y</th></tr-->
                <%_.each(data.data.depot, function(row) {%>
                <tr class="excel-dx" style="border: none;">
                    <td class="excel-d3" style="color: #009933; border: none; font-size: 14px; font: normal;"><%=row%></td>
                </tr>
                <%});%>
            </table>
        </div>
        <div  style="float:right;">
            <h1 style="margin-top: 15px;"><p class="" style="color: #15A6E9">MSPR</p></h1>
            <table class="table" style="font-size: 160%; font-weight: 600;">
                <!--tr><th>X</th><th>Y</th></tr-->
                <tr class="excel-dx" style="border: none;">
                    <td class="excel-d3" style="color:#009933; border: none; font-size: 14px; font: normal;">MSPR 1</td>
                </tr>
                <tr class="excel-dx" style="border: none;">
                    <td class="excel-d3" style="color:#009933; border: none; font-size: 14px; font: normal;">MSPR 2</td>
                </tr>
                <tr class="excel-dx" style="border: none;">
                    <td class="excel-d3" style="color:#009933; border: none; font-size: 14px; font: normal;">MSPR 3</td>
                </tr>
            </table>
        </div>
    </div>
    <%}%>
</div>