<div class="header bg-dot30 excel-page_info_station">
    <!--img src="assets/img/icons/line_chart-26.png" style="float: left;margin-right: 13px;"-->
    <h2><%=data.title%></h2>
    <i class="header-icon fa fa-info"></i>
</div>
<div class="content" style="background: none;/*#1d2a34*/ ">
    <table style="margin:auto; margin-top: 5%;">
        <tr>
            <td style="border-bottom: 1px solid #15A6E9; width: 50%;">
                <h1 class="excel-d1" style="margin: 5px ; color: #ffd461; font-size: 260%;text-align: center;"><%=data.data.name%></h1>
            </td>
        </tr>
        <tr>
            <td style="padding: 10px;">
                <h4 class="excel-d2" style="text-align: left; font-size: 120%;text-align: center;"><%=data.data.contractor%></h4>
            </td>
        </tr>
    </table>
</div>