<div class="header bg-dot30">
    <!--img src="/mpxd/assets/img/icons/line_chart-26.png" style="float: left;margin-right: 13px;"-->
	<% if (typeof(data.data.date) !== "undefined") { %>
		<h2><%=data.title%></h2> <h2 class="asof">(As of <%=data.data.date%>)</h2>
	<% } else {%>
		<h2><%=data.title%></h2>
	<% } %>
    <i class="header-icon fa fa-line-chart"></i>
</div>
<div class="content" style="background: none;/*#1d2a34*/ ">
	<!--div style="text-align: center;font-weight: bold; font-size:60px;"><%=data.data.currentActual%></div-->
	<div style="text-align: center;">
	<div style="max-width: 300px; max-height: 300px; margin-left: auto; margin-right: auto; margin-bottom: 25px;" id="chart_<%=data.id%>_progress"></div>
	<!--<h4 class="color-beige" style="padding-left: 15px">Actual train completion: <span style="color: #9EDD2E">6.90%</span></h4>-->
	<h4 class="color-beige total_progress" style="padding-left: 15px">Actual <span class="g_package"></span> Package Progress: <span style="color: #9EDD2E"><%=data.data.currentActual%></span></h4>
	<div id="train_progress_container" style="margin-bottom: 25px;">
	</div>
    <input type="hidden" id="perc">
    <h4 class="color-beige" style="padding-left: 15px">Actual train completion: <span id="id_actual"  style="color: #9EDD2E"></span></h4>
	<h4 class="color-beige">Number of Fully Completed Train: <a id="id_fullyTrain" class="manufacturing-link link" href="#modal_phase" data-toggle="modal" style="font-weight:bold"></a></h4>
	<!--<h1 style="padding-left: 15px"><%=data.data.currentActual%></h1>-->
	</div>
	<div class="scurve-container"></div>
<!--Modal Start -->
    <div class="modal" id="modal_phase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:300px">
            <div class="modal-content">
                <div class="modal-header" >
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 id="id_div" class="modal-title">Fully completed trains</h4>
                </div>
                <div class="modal-body clearfix">
                    <table class="table table-bordered table-condensed table-hover" style=""  id="id_fullyTable">
                        <thead>
                        <tr>
                            <th id="id_tabHed" style="text-align: center">Completed trains</th>
                        </tr>
                        </thead>
                        <tbody style="text-align: center">
                        <!--<tr><td>Train 01</td></tr>
                        <tr><td>Train 02</td></tr>
                        <tr><td>Train 03</td></tr>
                        <tr><td>Train 04</td></tr>-->
                        </tbody>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-clean" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!--MOdal End-->

	<%
    <!--moved the code to illyas.js to make it dynamic on 12/05/2016 by ancy-->
    <!--alert($('#perc').val());-->
	<!--d3.xml("/mpxd/assets/img/mrt_train_diagram_head.svg", "image/svg+xml", function(error, xml) { -->
	<!--if (error) throw error -->
		<!--document.getElementById('train_progress_container').appendChild(xml.documentElement);-->

		<!--d3.select('#progress stop').attr('offset',document.getElementById('perc').value);-->
		<!--&lt;!&ndash;d3.select('#progress stop').attr('offset','60%');&ndash;&gt;-->
	<!--});-->
	%>
    <script>
        $(".g_package").text($('#page_title').text().split('(',1));

    </script>
</div>
