<div class="header bg-dot30 excel-normal">
    <!--img src="/mpxd/assets/img/icons/line_chart-26.png" style="float: left;margin-right: 13px;"-->
    <h2><%=data.title%></h2>
    <i class="header-icon fa fa-check-square-o"></i>
</div>
<div class="content" style="background: none;/*#1d2a34*/">
	<!--h2>Header h2</h2-->
	
	<table class="table table-bordered table-condensed table-hover" style="">
	<thead>
	<th>No.</th>
	<th style="">Power Equipment</th>
	<th style="color: #8BA1CF">Quantity Delivered</th>
	<th style="color: #ffd461">Status</th>
	</thead>
	<%for (var i in data.data) {%>
	<%
		var power = data.data[i][0];
		var deliver = data.data[i][1];
		var status = data.data[i][2];
		
	%>
	 <tr>
		<td style=""><%=parseInt(i)+1%></td>
		<% if ((power != "") && (deliver == "") && (status == "")) { %><td style="" colspan="4"><%=power%></td> <% } else { %>
		<td style=""><%=power%></td>
		<td style="color: #8BA1CF"><%=deliver%></td>
		<td style="color: #ffd461;"><%=status%></td>
		<% } %>
	</tr>
	<%}%>
	</table>
</div>