<div class="header bg-dot30 excel-normal">
    <!--img src="/mpxd/assets/img/icons/line_chart-26.png" style="float: left;margin-right: 13px;"-->
    <h2><%=data.title%></h2>
    <i class="header-icon fa fa-check-square-o"></i>
</div>
<div class="content" style="background: none;/*#1d2a34*/">
	<!--h2>Header h2</h2-->
	
	<table class="table table-bordered table-condensed table-hover" style="">
	<thead>
	<th style="">Equipment</th><th style="color: #FFAF78">Status</th>
	</thead>
	<%for (var i in data.data) {%>
	<%
		var equipment = data.data[i][0];
		var status = data.data[i][1];
	%>
	 <tr>
		<td style=""><%=equipment%></td>
		<td style="color: #FFAF78;"><%=status%></td>
	</tr>
	<%}%>
	</table>
</div>