<div class="header bg-dot30 excel-normal">
    <!--img src="/mpxd/assets/img/icons/line_chart-26.png" style="float: left;margin-right: 13px;"-->
	<% if (typeof(data.data[0].date) !== "undefined") { %>
		<h2><%=data.title%></h2> <h2 class="asof">(As of <%=data.data[0].date%>)</h2>
	<% } else {%>
		<h2><%=data.title%></h2>
	<% } %>
    <i class="header-icon fa fa-check-square-o"></i>
</div>
<div class="content" style="background: none;/*#1d2a34*/">
	<!--h2>Header h2</h2-->
	
	
	
	
	
<!-- MODAL START -->
	<div class="modal" id="modal_default_3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:100%">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title">Manufacturing Progress</h4>
			</div>
			<div class="modal-body clearfix" style="padding:0; background: #222; overflow:hidden">
			<div style="position: absolute; left: 5px; top: 5px; z-index: 1;">
			<div class="btn-group" role="group" style="background:#59ad2f; border-radius: 5px;">
			<button class="btn btn-success zoom-in" style=""><i class="fa fa-search-plus" style="font-size: 26px;"></i></button>
			<button class="btn btn-success zoom-out" style=""><i class="fa fa-search-minus" style="font-size: 26px;"></i></button>
			</div>
			</div>
			<div class="panzoom-container" style="min-width:3000px">
			<div class="panzoom" style="border: 1px dashed #ccc; background: #111;">
				<!--<ul class="nav nav-tabs" role="tablist" id="mytab">
					<li class="active"><a href="#manufacturing" role="tab" data-toggle="tab" id="manufacturing_button">Puzhen Manufacturing Progress</a></li>
					<li><a href="#assembly" role="tab" data-toggle="tab" id="assembly_button">SMH Rail Assembly Progress</a></li>
					<li><a href="#testing" role="tab" data-toggle="tab" id="testing_button">SUBD Depot Dynamic Testing & Commissioning Status</a></li>
					<li><a href="#kjd" role="tab" data-toggle="tab" id="kjd_button">KJD Depot</a></li>
				</ul>
				<div class="controls-top-container" style="text-align: center; margin: 20px auto">
					<a href="#" onclick="javascript:void(0)" class="jump-to-table-link"><h2>Jump to bottom <i class="loadpage fa fa-link"></i></h2></a>
				</div>
				
				<div class="table-container" style="max-width: 450px;    margin: auto;  margin-top: 40px;   text-align: center;">
				</div>
				<div class="controls-bottom-container" style="text-align: center; margin-top:20px;">
					<a href="#" onclick="javascript:void(0)" class="jump-to-top-link"><h2>Jump to top <i class="loadpage fa fa-link"></i></h2></a>
				</div>-->
				<div style="display:table">
				<div class="train-box-header">
					<div class="header-container"><h2>Puzhen Manufacturing Progress</h2></div>
					<div class="manufacturing-container">
						<!--<div class="train-container" style="height: 1000px; overflow: scroll;overflow-x: hidden;">-->
						<div class="train-container summersoft_scroll">
						</div>
						<div class="table-container summersoft_container" style="max-width: 500px; text-align: center; margin: auto; padding:20px;">
						</div>
							<div style="margin: 20px 0 10px 10px;">
								Legend
								<table>
									<thead>
									</thead>
									<tbody>
										<tr>
											<td><div style="background:#fe0; width:20px; height:20px; margin:10px; border: 1px solid #000"></div></td>
											<td>Production / Assembly progress in percentage</td>
											<td><div style="background:#0f9; width:20px; height:20px; margin:10px; border: 1px solid #000"></div></td>
											<td>Production completed / Rolled-out</td>
										</tr>
										<tr>
											<td><div style="background:#ff0000; width:20px; height:20px; margin:10px; border: 1px solid #000"></div></td>
											<td>Delayed against schedule / Pending Roll-out</td>
											<!--<td><div style="background:#f06; width:20px; height:20px; margin:10px; border: 1px solid #000"></div></td>
											<td>Pending from Puzhen / Car formation numbering unknown</td>-->
										</tr>
									</tbody>
								</table>
							</div>
					</div>
				</div>
				<div class="train-box-header">
					<div class="header-container"><h2>SMH Rail Assembly Progress</h2></div>
					<div class="assembly-container">
						<div class="train-container summersoft_scroll">
						</div>
						<div class="table-container summersoft_container" style="max-width: 500px; text-align: center; margin: auto;">
						</div>
                        <!--Added by Sebin-->
                        <div style="max-width: 500px; margin: auto; padding:20px;">
                            <a id="id_comments" class="assembly-link" href="#modal_comment" data-toggle="modal" style="font-weight:bold">Add comments <i class="loadpage fa fa-comments"></i></a>
                        </div>
                        <div class="comment-container summersoft_container" style="max-width: 500px; text-align: center; margin: auto;">

                        </div>
                        <!---->
					</div>
				</div>
				<div class="train-box-header">
					<div class="header-container"><h2>SUBD Dynamic Testing & Commissioning Status</h2></div>
					<div class="subd-container">
						<div class="train-container summersoft_scroll">
						</div>
						<div class="table-container" style="max-width: 500px; text-align: center; margin: auto; padding:20px;">
						</div>
					</div>
				</div>
				
				<div class="train-box-header">
					<div class="header-container"><h2>KJD</h2></div>
					<div class="kjd-container">
						<div class="train-container summersoft_scroll">
						</div>
						<div class="table-container" style="max-width: 500px; text-align: center; margin: auto; padding:20px;">
						</div>
					</div>
				</div>
				
				</div>
				
			</div>
			</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-clean" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<!-- MODAL END -->
<!--Added by Sebin-->
    <div class="modal" id="modal_comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><i class="fa fa-comments"></i> Add Comment</h4>
                </div>
                <div class="modal-body">
                    <div class="table-container1" style="max-width: 500px; text-align: center; margin: auto; padding:20px;">
                    <table class="table table-bordered">
                    <tbody>
                    <tr>
                    <td>Train No:</td>
                    <td>
                    <!--<input type="text" placeholder="Train Number" id="mpxd_train_no" maxlength="10" style="border-color: rgba(21, 166, 233, 0.2); " class="form-control">-->
                        <select class="form-control" id="mpxd_train_no" placeholder="Train Number">
                            <option value="" selected disabled hidden="hidden">Train Number</option>
                            <%
                            for(var i=1;i<=58;i++){
                            %>
                            <option value="Train <%=i%>">Train <%=i%></option>
                            <%
                            }
                            %>
                        </select>
                    </td>
                    </tr>
                    <tr>
                    <td>Comments:</td>
                    <td>
                    <textarea cols="3" rows="3" placeholder="Your Comment" maxlength="50" id="mpxd_train_no_comment" style="border-color: rgba(21, 166, 233, 0.2);" class="form-control"></textarea>
                    </td>
                    </tr>
                    <tr>
                    <td colspan="2"><button type="button" id="cmntonTrain" class="btn btn-success pull-right">Submit</button></td>
                    </tr>
                    </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
	<script>
        $(function(){
            var $err="<small class='pull-left' style='color:rgb(194, 67, 71)'>*Required</small>";
            var $assemblyContainer = $('.assembly-container');
            $('#mpxd_train_no').change(function(){
                if($(this).val()!=null){
                    $(this).css("border-color", "rgba(21, 166, 233, 0.2)");$(this).next('small').remove();
                }
            });
            $('#mpxd_train_no_comment').keyup(function(){
                if($(this).val().trim().length>0){
                    $(this).css("border-color", "rgba(21, 166, 233, 0.2)");$(this).next('small').remove();
                }else{
                    $(this).css("border-color","rgb(194, 67, 71)");$(this).next('small').remove();$(this).after($err);
                }
            });


            $('#cmntonTrain').click(function(){
                var $f,$m=0;
                    if($('#mpxd_train_no').val()!=null) {
                        $('#mpxd_train_no').css("border-color", "rgba(21, 166, 233, 0.2)");$('#mpxd_train_no').next('small').remove();$f=1;
                    }else{
                        $('#mpxd_train_no').css("border-color","rgb(194, 67, 71)");$('#mpxd_train_no').next('small').remove();$('#mpxd_train_no').after($err);$f=0;
                    }
                    if($('#mpxd_train_no_comment').val()!='') {
                        $('#mpxd_train_no_comment').css("border-color", "rgba(21, 166, 233, 0.2)");$('#mpxd_train_no_comment').next('small').remove();$m=1;
                    }else{
                        $('#mpxd_train_no_comment').css("border-color","rgb(194, 67, 71)");$('#mpxd_train_no_comment').next('small').remove();$('#mpxd_train_no_comment').after($err);$m=0;
                    }
                    if(($f+$m)>1) {
                        mpxd.getJSONData("addComment/get?train_no=" + $('#mpxd_train_no').val() + "&comments=" + $('#mpxd_train_no_comment').val(), function (result) {
                            if(result==1){
                                $("#modal_comment").modal('hide');
                                refreshTable();
                                $('#mpxd_train_no').val('');
                                $('#mpxd_train_no_comment').val('');
                            }
//                            if (result == 1) {
//                                $("#modal_comment").modal('hide');
//                                $row = "<tr><td>" + $('#mpxd_train_no').val() + "</td><td>" + $('#mpxd_train_no_comment').val() + "</td></tr>";
//                                $n_tab="<table id=\"dataTab\" class=\"table table-bordered table-condensed table-hover\"><thead><tr><td>Train Num.</td><td>Comments</td></tr></thead><tbody><tr><td>"+$('#mpxd_train_no').val()+"</td><td>"+$('#mpxd_train_no_comment').val()+"</td></tr></tbody></table>";
////                                if($(".comment-container").children('#dataTab_wrapper').children('.table').length){
////                                    $(".comment-container").children('#dataTab_wrapper').children('.table').children('tbody').prepend($row);
//                                if($(".comment-container").children('.table').length){
//                                    $(".comment-container").children('.table').children('tbody').prepend($row);
//                                }else{
//                                    $(".comment-container").append($n_tab);
////                                    $("#dataTab").DataTable({
////                                        pagingType: "simple",
////                                        language: {
////                                            paginate: {'next': 'Next &rarr;', 'previous': '&larr; Prev'}
////                                        },
////                                        bFilter: false,
////                                        pageLength: 5
////
////                                    });
//                                }
//
////                                $('#modal_default_3').animate({
////                                    scrollTop: $(".comment-container").offset().top
////                                }, 2000);
////                                $('.comment-container').scrollTop(0);
//                                $('#mpxd_train_no').val('');
//                                $('#mpxd_train_no_comment').val('');
//                            }
                        });
                    }

            });
            var generateDataTable = function(data) {
                var $table = $('<table>').addClass('table table-bordered table-condensed table-hover');
                var $thead = $('<thead>');
                var $tbody = $('<tbody>');

                var $tr = $('<tr>');
                for (var i = 0; i < data[0].length; i++) {
                    var $td = $('<th style="color: #ffd461;text-align: center;">');
                    $td.html(data[0][i]);
                    $tr.append($td);
                }
                $thead.append($tr);

                // Start from 1 since the first is for header
                for (var i = 1; i < data.length; i++) {
                    var $tr = $('<tr class="s_comments">');
                    for (var j = 0; j < (data[i].length)-1; j++) {
                        var d = data[i][j+1];
                        var $td = $('<td>');
                        var $span=$('<span>');
                        $span.html(d);
                        $td.append($span);
                        if(((j+1)%2)==0) {
                            $td.append('<a data-value="'+data[i][j-1]+'" class="s_delete" href="javascript:void(0);"><i style="padding-left: 10px;color: #ffd461;" class="fa fa-trash-o pull-right">');
                        }
                        $tr.append($td);
                    }
                    $tbody.append($tr);
                }

                $table.append($thead);
                $table.append($tbody);
                return $table;
            }
            var refreshTable=function(){
                mpxd.getJSONData("fetchComment", function(result){
                    if(result.length>0) {
                        var comments = [];
                        comments.push(["Train Num.", "Comments"]);
                        $.each(result, function (idx, i) {
                            comments.push([i['id'],i['train_no'], i['comments']]);
                        });
                        var $comment = generateDataTable(comments);
                        $comment.attr("id","tableData");
                        $assemblyContainer.find('.comment-container').html('').append($comment);
                        $('#tableData').paging({limit:3});
                    }else{
                        $assemblyContainer.find('.comment-container').html('');
                    }
                });
            }
            $(document).on('click', '.s_delete' , function() {
                if (confirm("Delete Comment?")) {
                    var $j = $(this).attr("data-value");
                    mpxd.getJSONData('rComment?skj=' + $j, function (data) {
                        if (data) {
                            refreshTable();
                        }
                    });
                }
            });

        });
	</script>

	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<table class="table table-bordered table-condensed table-hover" style="">
	<thead>
	<th style="color: #ffd461;">CRRC, Puzhen</th>
	<th style="color: #ffd461;">SMH Rail, Rasa</th>
	<th style="color: #ffd461;">SUBD</th>
	<th style="color: #ffd461;">KJD</th>
	</thead>
	 <tr>
		<td style=""><span id="manufacturing_progress_value"></span><br/><span id="manufacturing_number_of_trains"></span>  <br/><br/><a class="manufacturing-link" href="#modal_default_3" data-toggle="modal" style="font-weight:bold">View manufacturing progress <i class="loadpage fa fa-link"></i></a></td>
		<td style=""><span id="assembly_progress_value"></span><br/> <span id="assembly_number_of_trains"></span> <br/><br/><a class="assembly-link" href="#modal_default_3" data-toggle="modal" style="font-weight:bold">View assembly progress <i class="loadpage fa fa-link"></i></a></td>
		<td style=""><span id="subd_progress_value"></span><br/><span id="subd_number_of_trains"></span>  <br/><br/><a class="testing-link" href="#modal_default_3" data-toggle="modal" style="font-weight:bold">View completed train <i class="loadpage fa fa-link"></i></a></td>
		<td style=""><span id="kjd_progress_value"></span><br/><span id="kjd_number_of_trains"></span>  <br/><br/><a class="kjd-link" href="#modal_default_3" data-toggle="modal" style="font-weight:bold">View completed train <i class="loadpage fa fa-link"></i></a></td>
	</tr>
	</table>
	
	
</div>