<div class="header bg-dot30 excel-normal">
    <!--img src="/mpxd/assets/img/icons/line_chart-26.png" style="float: left;margin-right: 13px;"-->
    <h2><%=data.title%></h2>
    <i class="header-icon fa fa-check-square-o"></i>
</div>
<div class="content" style="background: none;/*#1d2a34*/">
	<!--h2>Header h2</h2-->
	
	<table class="table table-bordered table-condensed table-hover" style="">
	<thead>
	<th>No.</th><th style="">Document</th><th style="color: #FFAF78">Milestone Date</th><th style="color: #009e8c;">Actual Date</th>
	</thead>
	<%for (var i in data.data) {%>
	<%
		var doc = data.data[i][0];
		var mDate = data.data[i][1];
		var aDate = data.data[i][2];
		
	%>
	 <tr>
		<td style=""><%=parseInt(i)+1%></td>
		<% if ((doc != "") && (mDate == "") && (aDate == "")) { %><td style="" colspan="4"><%=doc%></td> <% } else { %>
		<td style=""><%=doc%></td>
		<td style="color: #FFAF78;"><%=mDate%></td>
		<td style="color: #009e8c;"><%=aDate%></td>
		<% } %>
	</tr>
	<%}%>
	</table>
</div>