
<style>
    * {
        box-sizing: border-box;
    }
    .row::after {
        content: "";
        clear: both;
        display: block;
    }
    [class*="col-"] {
        float: left;
        padding: 4px;
    }
    .col-1 {width: 6.33%;}
    .col-2 {width: 12.33%;}

    html {
        font-family: "Lucida Sans", sans-serif;
    }
    .menu ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .menu li {
        padding: 10px;
        margin-bottom: 7px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        text-align: center;
        font-family: Arial Black;
        font-size: 14px;
        color: black;
    }
    .menu li a {
        color: black !important;
    }
    .menu li:hover {
        background-color: #0099cc;
    }
    .legend {
        margin-top: 0px ;
        margin-right: 95px;
        margin-bottom: 9px;
        text-align: right;
    }

</style>

<div class="header bg-dot30 excel-normal">
    <i class="header-icon fa fa-check-square-o"></i>
</div>
<div class="content" style="background: none;/*#1d2a34*/">
    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
        <div class="legend"> <i class="fa fa-square" style="color:#6BDD5A"></i><span style="color: #efefef">&nbsp;Completed&nbsp;&nbsp;</span>
            <i class="fa fa-square" style="color:#f9f55c"></i><span style="color: #efefef">&nbsp;In Progress&nbsp;&nbsp;</span>
            <i class="fa fa-square" style="color:#FF360E"></i><span style="color: #efefef">&nbsp;Not Completed&nbsp;&nbsp;</span>
        </div>
        <div class="row" style="display: none">
            <table align="center" class="table table-bordered " style="background-color:transparent;width: 15% ">
                <thead>
                <tr>
                    <th rowspan="2" style="text-align: center; vertical-align: middle;color: #FFFFFF;">Summary progress</th>
                    <th colspan="2" style="text-align: center; vertical-align: middle;color: #FFFFFF;">Installation</th>
                    <th colspan="2" style="text-align: center; vertical-align: middle;color: #FFFFFF;">Testing & Commission</th>
                </tr>
                <tr>
                    <th style="text-align: center; color: #FFFFFF;">Room</th>
                    <th style="text-align: center; color: #FFFFFF;">Wayside</th>
                    <th style="text-align: center; color: #FFFFFF;">PAT Status</th>
                    <th style="text-align: center; color: #FFFFFF;">SAT Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-1 menu">
            </div>

            <div class="col-2 menu">
                <ul>
                    <a href="#"> <li style="background-color: #C0C0C0">1</li></a>
                    <a href="#"> <li style="background-color: #C0C0C0">8</li></a>
                    <a href="#"> <li style="background-color: #FF360E">15</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">22</li></a>
                    <a href="#"><li style="background-color: #f9f55c">29</li></a>
                    <a href="#"><li style="background-color: #f9f55c">36</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">43</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">50</li></a>
                </ul>
            </div>
            <div class="col-2 menu">
                <ul>
                    <a href="#"><li style="background-color: #C0C0C0">2</li></a>
                    <a href="#"> <li style="background-color: #C0C0C0">9</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">16</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">23</li></a>
                    <a href="#"><li style="background-color: #f9f55c">30</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">37</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">44</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">51</li></a>
                </ul>
            </div>
            <div class="col-2 menu">
                <ul>
                    <a href="#"> <li style="background-color: #C0C0C0">3</li></a>
                    <a href="#"><li style="background-color: #C0C0C0">10</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">17</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">24</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">31</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">38</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">45</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">52</li></a>
                </ul>
            </div>
            <div class="col-2 menu">
                <ul>
                    <a href="#"> <li style="background-color: #C0C0C0">4</li></a>
                    <a href="#"> <li style="background-color: #C0C0C0">11</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">18</li></a>
                    <a href="#"><li style="background-color: #f9f55c">25</li></a>
                    <a href="#"> <li style="background-color: #f9f55c">32</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">39</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">46</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">53</li></a>
                </ul>
            </div>
            <div class="col-2 menu">
                <ul>
                    <a href="#"><li style="background-color: #C0C0C0">5</li></a>
                    <a href="#"><li style="background-color: #C0C0C0">12</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">19</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">26</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">33</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">40</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">47</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">54</li></a>
                </ul>
            </div>
            <div class="col-2 menu">
                <ul>
                    <a href="#"> <li style="background-color: #C0C0C0">6</li></a>
                    <a href="#"> <li style="background-color: #C0C0C0">1</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">20</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">2</li></a>
                    <a href="#"> <li style="background-color: #f9f55c">34</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">41</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">48</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">55</li></a>
                </ul>
            </div>
            <div class="col-2 menu">
                <ul>
                    <a href="#">  <li style="background-color: #C0C0C0">7</li></a>
                    <a href="#"><li style="background-color: #FF360E">14</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">21</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">28</li></a>
                    <a href="#"><li style="background-color :#f9f55c">35</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">42</li></a>
                    <a href="#"> <li style="background-color: #6BDD5A">49</li></a>
                    <a href="#"><li style="background-color: #6BDD5A">56</li></a>
                </ul>
            </div>
</div>
    </div>
</div>
